@charset "UTF-8";

* {
    margin: 0;
    padding: 0;

    outline: 0;
    border: none;

    text-decoration: none;
    list-style: none;

    box-sizing: border-box;

    font-family: Arial, Helvetica, sans-serif;
}

.main-content {
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgb(6, 78, 114);
}

.content-window {
    width: 785px;
    height: 440px;

    position: relative;
    overflow: hidden;

    border-radius: 10px;
}

.slider-items {
    width: 100%;
    height: 100%;

    z-index: 0;
}

.slider-items img {
    width: 100%;
    height: 100%;

    object-fit: cover;
}

.slider-control {
    width: 100%;
    height: 60px;

    padding: 0px 5px;

    position: absolute;
    bottom: -60px;
    z-index: 1;

    transition: .2s ease;
}

.container-controls {
    width: 100%;
    height: 100%;

    position: relative;
}

.img-guide {
    width: 100%;
    height: 20%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img-guide span {
    width: 25px;
    height: 3px;

    background-color: rgba(255, 255, 255, 0.408);
}

.img-guide span:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;

    background-color: white;
}

.img-guide span:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.container-counter {
    width: 150px;
    height: 80%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.counter {
    width: 130px;

    display: flex;
    justify-content: space-between;

    font-size: .9em;

    color: white;
}

.counter div:first-child, .counter div:last-child {
    padding: 5px 10px;

    font-size: 1.4em;
    cursor: pointer;

    border-radius: 3px;
}

.counter div:first-child:hover, .counter div:last-child:hover {
    background-color: rgba(255, 255, 255, 0.141);
}

.number-counter {
    width: 50px;

    cursor: default;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.number-counter span {
    width: 15px;
    height: 1px;

    transform: rotate(-70deg);

    background-color: white;
}
