@charset "UTF-8";

body {
    background-color: rgb(70, 142, 236);
    font: normal 15px Arial;
}

header {
    text-align: center;
    color: white;
}

section {
    width: 500px;

    margin: 0 auto;
    padding: 15px;

    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.363);

    background-color: white;
}

footer {
    text-align: center;
    font-style: italic;
    color: white;
}

div {
    margin: 0 auto;
    padding: 8px;
    text-align: center;
}

div#foto {
    width: 240px;
    height: 240px;

    border-radius: 50%;

    background-image: url('./img/manha.jpg');
    background-position: bottom center;
    background-size: cover;
}
