@charset "UTF-8";

/* :root {

} */

* {
    margin: 0;
    padding: 0;

    outline: none;
    border: none;

    box-sizing: border-box;

    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

.forca-game {
    width: 100vw;
    height: 100vh;

    display: grid;

    background-color: black;
}

.container-estrutura-forca {
    width: 300px;
    height: 340px;

    background-color: red;
}

.container-tema {
    width: 200px;
    height: 50px;

    background-color: blue;
}

.container-rodada {
    width: 300px;
    height: 80px;

    background-color: yellow;
}

.container-tempo {
    width: 150px;
    height: 50px;

    background-color: purple;
}

.container-jogada {
    width: 300px;
    height: 100px;

    background-color: orange;
}

.container-tentativas {
    width: 200px;
    height: 50px;

    background-color: dodgerblue;
}

.container-cimiterio {
    width: 400px;
    height: 150px;
    
    background-color: pink;
}
