@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Roboto+Slab:wght@700&display=swap');

:root {
    --font-texto: 'Roboto Slab', sans-serif;
    --font-btn: Inter, sans-serif;

    --cor-fundo: #0D0C0C;
    --cor-btn: #DA3F1D;
    --cor-btn-hover: rgba(255, 255, 255, 0.055);
    --cor-txt: rgb(211, 211, 211);
}

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    
    list-style: none;
    text-decoration: none;
    outline: none;
}

.container-conteudo-principal {
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #0e2230;
}

.conteudo-principal {
    width: 400px;
    height: 375px;

    border-radius: 5px;

    background-color: var(--cor-fundo);
}

.container-titulo-principal {
    padding-top: 20px;

    text-align: center;
    letter-spacing: 1px;

    font-size: 1.3em;
    font-family: var(--font-texto);

    color: white;
    /* background-color: red; */
}

.formulario {
    padding-top: 25px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-entrada:not(:nth-last-child(2)) {
    margin-bottom: 40px;
}

.container-entrada input {
    width: 290px;
    height: 40px;

    padding-left: 5px;

    font-size: 1.2em;

    border: none;
    border-bottom: 2px solid var(--cor-txt);
    
    color: var(--cor-txt);
    background-color: var(--cor-fundo);
}

.container-btn {
    margin-top: 50px;
}

.container-btn input {
    width: 260px;
    height: 45px;

    font-size: 1em;
    font-family: var(--font-btn);

    letter-spacing: 1px;

    cursor: pointer;
    border: none;

    color: white;
    background-color: black;
}

.container-btn input:hover {
    background-color: var(--cor-btn-hover);
}

.container-retorno {
    padding-top: 18px;

    display: flex;
    justify-content: center;

    font-size: 1.4em;
}

.container-retorno a {
    padding: 7px 10px;

    display: block;
    color: var(--cor-txt);

    border-radius: 50%;
    transition: .1s ease-in-out;
}

.container-retorno a:hover{
    background-color: var(--cor-btn-hover);
}
